<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Agenda</h1>
            <p class="text-center lead">Do login or create your account below.</p>
        </div>

        <%- include('includes/messages') %>

        <div class="row">

            <div class="col-lg">
                <h4>Create your account</h4>
                <form action="/login/register" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                    <div class="form-group">
                      <label>Email address</label>
                      <input type="email" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                      </div>
                    <button type="submit" class="btn btn-primary my-2">Create account</button>
                </form>
            </div>

            <div class="col-lg">
                <h4>Login</h4>
                <form action="/login/login" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                    <div class="form-group">
                      <label>Email address</label>
                      <input type="email" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                      </div>
                    <button type="submit" class="btn btn-primary my-2">Enter</button>
                </form>
            </div>

        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer') %>